# Импорт библиотек

In [1]:
import lightgbm as lgb
from moexalgo import Market, Ticker
from datetime import datetime
import pandas as pd

# Датасет

In [27]:
TICKER = 'YNDX'

today = datetime.today().strftime('%Y-%m-%d')
today = '2023-12-06'
loader = Ticker(TICKER)

df = loader.tradestats(date=today, till_date=today)
df['pr_mean'] = df[['pr_high','pr_low']].mean(axis=1)

df

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime,pr_mean
0,YNDX,2023-12-06,10:05:00,2420.2,2428.8,2419.2,2425.2,0.0003,6866,16644908.0,...,149,10867511.0,5777396.0,4482,2384,0.31,2424.7,2423.4,2023-12-07 19:12:25,2424.0
1,YNDX,2023-12-06,10:10:00,2425.0,2426.4,2418.4,2418.8,0.0002,6272,15189812.0,...,194,6830027.0,8359784.0,2819,3453,-0.10,2422.9,2421.0,2023-12-07 19:12:26,2422.4
2,YNDX,2023-12-06,10:15:00,2418.6,2420.0,2410.8,2419.6,0.0002,5745,13882167.0,...,194,7097097.0,6785069.0,2935,2810,0.02,2418.1,2414.6,2023-12-07 19:12:27,2415.4
3,YNDX,2023-12-06,10:20:00,2418.4,2419.0,2403.6,2410.6,0.0002,8880,21400182.0,...,287,5480730.0,15919452.0,2274,6606,-0.49,2410.2,2409.8,2023-12-07 19:12:28,2411.3
4,YNDX,2023-12-06,10:25:00,2411.0,2415.0,2410.2,2411.2,0.0002,3563,8593796.0,...,106,4462658.0,4131137.0,1850,1713,0.04,2412.2,2411.6,2023-12-07 19:12:29,2412.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,YNDX,2023-12-06,18:20:00,2372.8,2372.8,2341.8,2349.2,0.0003,79558,187464544.0,...,1768,46732384.0,140732159.0,19847,59711,-0.50,2354.6,2356.9,2023-12-07 19:13:43,2357.3
100,YNDX,2023-12-06,18:25:00,2348.4,2357.2,2344.4,2355.0,0.0002,46352,108974877.0,...,558,46233519.0,62741357.0,19676,26676,-0.15,2349.7,2352.0,2023-12-07 19:13:43,2350.8
101,YNDX,2023-12-06,18:30:00,2355.2,2357.2,2346.2,2352.6,0.0002,15457,36384850.0,...,327,9218257.0,27166593.0,3917,11540,-0.49,2353.4,2354.1,2023-12-07 19:13:44,2351.7
102,YNDX,2023-12-06,18:35:00,2352.4,2356.8,2350.8,2355.4,0.0001,8470,19946430.0,...,133,5957380.0,13989050.0,2530,5940,-0.40,2354.7,2355.1,2023-12-07 19:13:45,2353.8
103,YNDX,2023-12-06,18:40:00,2355.0,2357.8,2355.0,2356.2,0.0001,22639,53320871.0,...,204,8741588.0,44579283.0,3710,18929,-0.67,2356.2,2355.1,2023-12-07 19:13:46,2356.4

In [28]:
for i in range(1,11+1):
    df[f'ratio_pr_mean_{i}'] = df['pr_mean'] / df['pr_mean'].shift(i)
df

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,ratio_pr_mean_2,ratio_pr_mean_3,ratio_pr_mean_4,ratio_pr_mean_5,ratio_pr_mean_6,ratio_pr_mean_7,ratio_pr_mean_8,ratio_pr_mean_9,ratio_pr_mean_10,ratio_pr_mean_11
0,YNDX,2023-12-06,10:05:00,2420.2,2428.8,2419.2,2425.2,0.0003,6866,16644908.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,YNDX,2023-12-06,10:10:00,2425.0,2426.4,2418.4,2418.8,0.0002,6272,15189812.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,YNDX,2023-12-06,10:15:00,2418.6,2420.0,2410.8,2419.6,0.0002,5745,13882167.0,...,0.996452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YNDX,2023-12-06,10:20:00,2418.4,2419.0,2403.6,2410.6,0.0002,8880,21400182.0,...,0.995418,0.994761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,YNDX,2023-12-06,10:25:00,2411.0,2415.0,2410.2,2411.2,0.0002,3563,8593796.0,...,0.998841,0.995954,0.995297,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,YNDX,2023-12-06,18:20:00,2372.8,2372.8,2341.8,2349.2,0.0003,79558,187464544.0,...,0.994557,0.991420,0.989672,0.987351,0.986607,0.986607,0.987351,0.986937,0.987061,0.986896
100,YNDX,2023-12-06,18:25:00,2348.4,2357.2,2344.4,2355.0,0.0002,46352,108974877.0,...,0.992108,0.991815,0.988687,0.986943,0.984628,0.983886,0.983886,0.984628,0.984216,0.984340
101,YNDX,2023-12-06,18:30:00,2355.2,2357.2,2346.2,2352.6,0.0002,15457,36384850.0,...,0.997624,0.992488,0.992195,0.989065,0.987321,0.985005,0.984263,0.984263,0.985005,0.984593
102,YNDX,2023-12-06,18:35:00,2352.4,2356.8,2350.8,2355.4,0.0001,8470,19946430.0,...,1.001276,0.998515,0.993374,0.993081,0.989948,0.988203,0.985885,0.985142,0.985142,0.985885
103,YNDX,2023-12-06,18:40:00,2355.0,2357.8,2355.0,2356.2,0.0001,22639,53320871.0,...,1.001999,1.002382,0.999618,0.994471,0.994178,0.991042,0.989294,0.986974,0.986230,0.986230

In [29]:
for a in ['min','max','mean','std']:
    df[f'hour_{a}'] = df.groupby('tradedate')['pr_mean'].transform(lambda s: s.shift(1).rolling(11).agg(a))
df

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,ratio_pr_mean_6,ratio_pr_mean_7,ratio_pr_mean_8,ratio_pr_mean_9,ratio_pr_mean_10,ratio_pr_mean_11,hour_min,hour_max,hour_mean,hour_std
0,YNDX,2023-12-06,10:05:00,2420.2,2428.8,2419.2,2425.2,0.0003,6866,16644908.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,YNDX,2023-12-06,10:10:00,2425.0,2426.4,2418.4,2418.8,0.0002,6272,15189812.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,YNDX,2023-12-06,10:15:00,2418.6,2420.0,2410.8,2419.6,0.0002,5745,13882167.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YNDX,2023-12-06,10:20:00,2418.4,2419.0,2403.6,2410.6,0.0002,8880,21400182.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,YNDX,2023-12-06,10:25:00,2411.0,2415.0,2410.2,2411.2,0.0002,3563,8593796.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,YNDX,2023-12-06,18:20:00,2372.8,2372.8,2341.8,2349.2,0.0003,79558,187464544.0,...,0.986607,0.986607,0.987351,0.986937,0.987061,0.986896,2369.5,2389.3,2383.472727,7.625364
100,YNDX,2023-12-06,18:25:00,2348.4,2357.2,2344.4,2355.0,0.0002,46352,108974877.0,...,0.984628,0.983886,0.983886,0.984628,0.984216,0.984340,2357.3,2389.3,2380.627273,10.729035
101,YNDX,2023-12-06,18:30:00,2355.2,2357.2,2346.2,2352.6,0.0002,15457,36384850.0,...,0.987321,0.985005,0.984263,0.984263,0.985005,0.984593,2350.8,2389.3,2377.227273,13.624543
102,YNDX,2023-12-06,18:35:00,2352.4,2356.8,2350.8,2355.4,0.0001,8470,19946430.0,...,0.989948,0.988203,0.985885,0.985142,0.985142,0.985885,2350.8,2389.3,2373.881818,15.025766
103,YNDX,2023-12-06,18:40:00,2355.0,2357.8,2355.0,2356.2,0.0001,22639,53320871.0,...,0.994178,0.991042,0.989294,0.986974,0.986230,0.986230,2350.8,2389.3,2370.818182,15.402326

In [30]:
ytd_month = pd.read_pickle(f'../data/interim/{today.replace("-","")}_part.pkl')
ytd_month

,ytd_min,ytd_max,ytd_mean,ytd_std,month_min,month_max,month_mean,month_std
0,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487

In [31]:
df = df.merge(ytd_month, how='cross')
df

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,hour_mean,hour_std,ytd_min,ytd_max,ytd_mean,ytd_std,month_min,month_max,month_mean,month_std
0,YNDX,2023-12-06,10:05:00,2420.2,2428.8,2419.2,2425.2,0.0003,6866,16644908.0,...,NaN,NaN,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
1,YNDX,2023-12-06,10:10:00,2425.0,2426.4,2418.4,2418.8,0.0002,6272,15189812.0,...,NaN,NaN,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
2,YNDX,2023-12-06,10:15:00,2418.6,2420.0,2410.8,2419.6,0.0002,5745,13882167.0,...,NaN,NaN,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
3,YNDX,2023-12-06,10:20:00,2418.4,2419.0,2403.6,2410.6,0.0002,8880,21400182.0,...,NaN,NaN,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
4,YNDX,2023-12-06,10:25:00,2411.0,2415.0,2410.2,2411.2,0.0002,3563,8593796.0,...,NaN,NaN,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,YNDX,2023-12-06,18:20:00,2372.8,2372.8,2341.8,2349.2,0.0003,79558,187464544.0,...,2383.472727,7.625364,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
100,YNDX,2023-12-06,18:25:00,2348.4,2357.2,2344.4,2355.0,0.0002,46352,108974877.0,...,2380.627273,10.729035,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
101,YNDX,2023-12-06,18:30:00,2355.2,2357.2,2346.2,2352.6,0.0002,15457,36384850.0,...,2377.227273,13.624543,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
102,YNDX,2023-12-06,18:35:00,2352.4,2356.8,2350.8,2355.4,0.0001,8470,19946430.0,...,2373.881818,15.025766,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
103,YNDX,2023-12-06,18:40:00,2355.0,2357.8,2355.0,2356.2,0.0001,22639,53320871.0,...,2370.818182,15.402326,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487

In [32]:
last_row = df[-1:]
last_row

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,hour_mean,hour_std,ytd_min,ytd_max,ytd_mean,ytd_std,month_min,month_max,month_mean,month_std
103,YNDX,2023-12-06,18:40:00,2355.0,2357.8,2355.0,2356.2,0.0001,22639,53320871.0,...,2370.818182,15.402326,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487

# Предсказание

In [41]:
import glob

all_models = glob.glob('../models/*.lgb')
all_models.sort()
model = lgb.Booster(model_file=all_models[-1])

In [43]:
pred = model.predict(last_row[model.feature_name()]).argmax()
pred

0

# Брокер

In [33]:
# Отправляем запрос брокеру 
def send_to_broker(pred):
    if pred == 0:
        print(TICKER, df['tradetime'].max(), '- Ничего не делаем')
    elif pred == 1:
        print(TICKER, df['tradetime'].max(), '- Пик (продаем)')
    elif pred == 2:
        print(TICKER, df['tradetime'].max(), '- Впадина (покупаем)')

send_to_broker(pred)

YNDX 18:40:00 - Ничего не делаем