# Импорт библиотек

In [11]:
import lightgbm as lgb
from moexalgo import Market, Ticker
from datetime import datetime
import pandas as pd

# Загрузка модели

In [3]:
today = datetime.today().strftime('%Y-%m-%d')
print(today)
model = lgb.Booster(model_file=f'../models/{today.replace("-","")}_model.lgb')

2023-12-09

# Загрузка данных

In [22]:
today = '2023-12-08'
loader = Ticker('YNDX')

df = loader.tradestats(date=today, till_date=today)
df['pr_mean'] = df[['pr_high','pr_low']].mean(axis=1)

df

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime,pr_mean
0,YNDX,2023-12-08,10:05:00,2365.0,2367.4,2352.8,2359.8,0.0004,23711,55999767.0,...,471,27041508.0,28958259.0,11452,12259,-0.03,2361.3,2362.2,2023-12-08 10:13:13,2360.1
1,YNDX,2023-12-08,10:10:00,2360.0,2360.0,2355.6,2359.4,0.0002,9076,21410099.0,...,188,7666270.0,13743828.0,3250,5826,-0.28,2358.9,2359.1,2023-12-08 10:30:28,2357.8
2,YNDX,2023-12-08,10:15:00,2359.6,2359.6,2346.2,2355.0,0.0002,6416,15091986.0,...,208,6213258.0,8878728.0,2642,3774,-0.18,2351.7,2352.6,2023-12-08 10:21:29,2352.9
3,YNDX,2023-12-08,10:20:00,2355.4,2357.6,2352.0,2352.8,0.0002,3655,8609874.0,...,123,4172229.0,4437644.0,1771,1884,-0.03,2355.9,2355.4,2023-12-08 10:30:29,2354.8
4,YNDX,2023-12-08,10:25:00,2353.2,2357.6,2352.8,2356.0,0.0002,1387,3265705.0,...,72,1092506.0,2173198.0,464,923,-0.33,2354.5,2354.5,2023-12-08 10:30:30,2355.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,YNDX,2023-12-08,18:20:00,2360.0,2361.8,2357.0,2357.0,0.0001,1585,3740399.0,...,50,1897691.0,1842707.0,804,781,0.01,2360.3,2359.4,2023-12-08 18:20:10,2359.4
100,YNDX,2023-12-08,18:25:00,2357.2,2358.8,2357.0,2358.8,0.0001,780,1838766.0,...,31,1006529.0,832237.0,427,353,0.09,2357.2,2357.6,2023-12-08 18:25:11,2357.9
101,YNDX,2023-12-08,18:30:00,2358.8,2361.2,2358.8,2361.0,0.0001,652,1539027.0,...,30,738774.0,800253.0,313,339,-0.04,2360.3,2360.6,2023-12-08 18:30:10,2360.0
102,YNDX,2023-12-08,18:35:00,2361.0,2361.0,2354.2,2354.4,0.0004,2910,6856599.0,...,78,1768991.0,5087607.0,751,2159,-0.48,2355.5,2356.5,2023-12-08 18:35:11,2357.6
103,YNDX,2023-12-08,18:40:00,2354.8,2357.8,2354.2,2354.6,0.0003,2782,6551982.0,...,36,892849.0,5659133.0,379,2403,-0.73,2355.8,2355.0,2023-12-08 18:40:10,2356.0

# Препроцессинг

In [23]:
for i in range(1,11+1):
    df[f'ratio_pr_mean_{i}'] = df['pr_mean'] / df['pr_mean'].shift(i)
df

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,ratio_pr_mean_2,ratio_pr_mean_3,ratio_pr_mean_4,ratio_pr_mean_5,ratio_pr_mean_6,ratio_pr_mean_7,ratio_pr_mean_8,ratio_pr_mean_9,ratio_pr_mean_10,ratio_pr_mean_11
0,YNDX,2023-12-08,10:05:00,2365.0,2367.4,2352.8,2359.8,0.0004,23711,55999767.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,YNDX,2023-12-08,10:10:00,2360.0,2360.0,2355.6,2359.4,0.0002,9076,21410099.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,YNDX,2023-12-08,10:15:00,2359.6,2359.6,2346.2,2355.0,0.0002,6416,15091986.0,...,0.996949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YNDX,2023-12-08,10:20:00,2355.4,2357.6,2352.0,2352.8,0.0002,3655,8609874.0,...,0.998728,0.997754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,YNDX,2023-12-08,10:25:00,2353.2,2357.6,2352.8,2356.0,0.0002,1387,3265705.0,...,1.000978,0.998897,0.997924,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,YNDX,2023-12-08,18:20:00,2360.0,2361.8,2357.0,2357.0,0.0001,1585,3740399.0,...,0.999788,1.000085,0.999365,1.000763,1.002081,1.000976,0.998561,0.999026,0.998603,0.998096
100,YNDX,2023-12-08,18:25:00,2357.2,2358.8,2357.0,2358.8,0.0001,780,1838766.0,...,0.998856,0.999153,0.999449,0.998729,1.000127,1.001444,1.000339,0.997926,0.998391,0.997968
101,YNDX,2023-12-08,18:30:00,2358.8,2361.2,2358.8,2361.0,0.0001,652,1539027.0,...,1.000254,0.999746,1.000042,1.000339,0.999619,1.001018,1.002336,1.001230,0.998815,0.999280
102,YNDX,2023-12-08,18:35:00,2361.0,2361.0,2354.2,2354.4,0.0004,2910,6856599.0,...,0.999873,0.999237,0.998729,0.999025,0.999322,0.998602,1.000000,1.001317,1.000212,0.997799
103,YNDX,2023-12-08,18:40:00,2354.8,2357.8,2354.2,2354.6,0.0003,2782,6551982.0,...,0.998305,0.999194,0.998559,0.998051,0.998347,0.998644,0.997925,0.999321,1.000637,0.999533

In [24]:
for a in ['min','max','mean','std']:
    df[f'hour_{a}'] = df.groupby('tradedate')['pr_mean'].transform(lambda s: s.shift(1).rolling(11).agg(a))
df

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,ratio_pr_mean_6,ratio_pr_mean_7,ratio_pr_mean_8,ratio_pr_mean_9,ratio_pr_mean_10,ratio_pr_mean_11,hour_min,hour_max,hour_mean,hour_std
0,YNDX,2023-12-08,10:05:00,2365.0,2367.4,2352.8,2359.8,0.0004,23711,55999767.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,YNDX,2023-12-08,10:10:00,2360.0,2360.0,2355.6,2359.4,0.0002,9076,21410099.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,YNDX,2023-12-08,10:15:00,2359.6,2359.6,2346.2,2355.0,0.0002,6416,15091986.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YNDX,2023-12-08,10:20:00,2355.4,2357.6,2352.0,2352.8,0.0002,3655,8609874.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,YNDX,2023-12-08,10:25:00,2353.2,2357.6,2352.8,2356.0,0.0002,1387,3265705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,YNDX,2023-12-08,18:20:00,2360.0,2361.8,2357.0,2357.0,0.0001,1585,3740399.0,...,1.002081,1.000976,0.998561,0.999026,0.998603,0.998096,2354.5,2363.9,2360.081818,2.817736
100,YNDX,2023-12-08,18:25:00,2357.2,2358.8,2357.0,2358.8,0.0001,780,1838766.0,...,1.000127,1.001444,1.000339,0.997926,0.998391,0.997968,2354.5,2362.8,2359.672727,2.518766
101,YNDX,2023-12-08,18:30:00,2358.8,2361.2,2358.8,2361.0,0.0001,652,1539027.0,...,0.999619,1.001018,1.002336,1.001230,0.998815,0.999280,2354.5,2362.8,2359.236364,2.352136
102,YNDX,2023-12-08,18:35:00,2361.0,2361.0,2354.2,2354.4,0.0004,2910,6856599.0,...,0.999322,0.998602,1.000000,1.001317,1.000212,0.997799,2354.5,2362.8,2359.081818,2.226575
103,YNDX,2023-12-08,18:40:00,2354.8,2357.8,2354.2,2354.6,0.0003,2782,6551982.0,...,0.998347,0.998644,0.997925,0.999321,1.000637,0.999533,2354.5,2360.9,2358.609091,1.883855

In [25]:
ytd_month = pd.read_pickle(f'../data/interim/{datetime.today().strftime("%Y-%m-%d").replace("-","")}_part.pkl')
ytd_month

,ytd_min,ytd_max,ytd_mean,ytd_std,month_min,month_max,month_mean,month_std
0,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487

In [26]:
df = df.merge(ytd_month, how='cross')
df

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,hour_mean,hour_std,ytd_min,ytd_max,ytd_mean,ytd_std,month_min,month_max,month_mean,month_std
0,YNDX,2023-12-08,10:05:00,2365.0,2367.4,2352.8,2359.8,0.0004,23711,55999767.0,...,NaN,NaN,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
1,YNDX,2023-12-08,10:10:00,2360.0,2360.0,2355.6,2359.4,0.0002,9076,21410099.0,...,NaN,NaN,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
2,YNDX,2023-12-08,10:15:00,2359.6,2359.6,2346.2,2355.0,0.0002,6416,15091986.0,...,NaN,NaN,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
3,YNDX,2023-12-08,10:20:00,2355.4,2357.6,2352.0,2352.8,0.0002,3655,8609874.0,...,NaN,NaN,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
4,YNDX,2023-12-08,10:25:00,2353.2,2357.6,2352.8,2356.0,0.0002,1387,3265705.0,...,NaN,NaN,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,YNDX,2023-12-08,18:20:00,2360.0,2361.8,2357.0,2357.0,0.0001,1585,3740399.0,...,2360.081818,2.817736,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
100,YNDX,2023-12-08,18:25:00,2357.2,2358.8,2357.0,2358.8,0.0001,780,1838766.0,...,2359.672727,2.518766,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
101,YNDX,2023-12-08,18:30:00,2358.8,2361.2,2358.8,2361.0,0.0001,652,1539027.0,...,2359.236364,2.352136,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
102,YNDX,2023-12-08,18:35:00,2361.0,2361.0,2354.2,2354.4,0.0004,2910,6856599.0,...,2359.081818,2.226575,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487
103,YNDX,2023-12-08,18:40:00,2354.8,2357.8,2354.2,2354.6,0.0003,2782,6551982.0,...,2358.609091,1.883855,2352.6,2382.0,2363.66129,6.018288,1815.9,2039.5,1942.53,48.199487

In [30]:
last_row = df[model.feature_name()][-1:]

# Предсказание

In [33]:
pred = model.predict(last_row).argmax()
pred

0